doctype

html
    head
        title upload
    body
        form(action='fileUpload' method='post' enctype="multipart/form-data")
            input(type='file' id='fname' name="uploadFileName")
            input(type="text" name="body")
            input(type='submit')